{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container1">
        <form method="post" action="./insert" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                     <label>name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="name" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>category</label>
                    </div>
                <div class="col-75">
                    <input type="text" name="category" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                     <label>description</label>
                    </div>
                <div class="col-75">
                     <input type="text" name="description" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                     <label>coverimage</label>
                    </div>

            </div>
             <div class="row">
                <div class="col-25">
                     <label>image1</label>
                    </div>
                <div class="col-75">
                    <input type="file" accept="image/*" name="image1" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                     <label>image2</label>
                    </div>
                <div class="col-75">
                      <input type="file" accept="image/*" name="image2" />
                </div>
            </div><div class="row">
                <div class="col-25">
                     <label>image3</label>
                    </div>
                <div class="col-75">
                     <input type="file" accept="image/*" name="image3" />
                </div>
            </div><div class="row">
                <div class="col-25">
                     <label>image4</label>
                    </div>
                <div class="col-75">
                      <input type="file" accept="image/*" name="image4" />
                </div>
            </div>
            <div class="row">
                <input type="submit" name="insert" value="Insert"/>
            </div>
        </form>
    </div>
</body>
</html>