{%extends 'base.html'%}
{% load static %}
{%block img%}
{{img.url}}
{%endblock%}

{%block links%}
     <link rel="stylesheet" href="{% static 'css/profile.css '%}"/>
{%endblock%}



     {%block content%}



<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                         src="..{{img.url}}" width="200" height="400"><span
                    class="font-weight-bold">Amelly</span><span
                    class="text-black-50">amelly12@bbb.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile
                        Settings</h4>
                </div>
                 <div class="row mt-3">
                    <div class="contaner">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text"
                                                                                               class="form-control"
                                                                                               placeholder="Firstname "
                                                                                               value=""></div>

                        <div class="col-md-6"><label class="labels">Lastname</label><input type="text"
                                                                                            class="form-control"
                                                                                            placeholder="Lastname"
                                                                                            value=""></div>
                  </div>

                </div>
                <div class="row mt-3">
                    <div class="contaner">
                        <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text"
                                                                                               class="form-control"
                                                                                               placeholder="enter phone number"
                                                                                               value=""></div>
                    </div>
                    <div class="contaner">
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                                                                            class="form-control"
                                                                                            placeholder="enter email id"
                                                                                            value=""></div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="extra">
                        <div class="col-md-12 "><label class="labels">Country</label><input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="country"
                                                                                           value="">
                        </div>
                    </div>
                    <div class="extra">
                        <div class="col-md-12"><label class="labels">State/Region</label><input type="text"
                                                                                               class="form-control"
                                                                                               value=""
                                                                                               placeholder="state">
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 align-items-center experience">
            <div class="p-3 py-5 expTitle">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i
                        class="fa fa-plus"></i>&nbsp;Experience</span>
                </div>
                <div class="contaner">
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                                                                                                       class="form-control"
                                                                                                       placeholder="experience"
                                                                                                       value=""></div>
                </div>
                <div class="contaner">
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                                                                                                  class="form-control"
                                                                                                  placeholder="additional details"
                                                                                                  value=""></div>
                </div>
                <div class="contaner">
                    <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                                                                         class="form-control"
                                                                                         placeholder="education"
                                                                                         value=""></div>
                </div>
            </div>

        </div>

    </div>
</div>

      {%endblock%}


